DJANGO_SECRET=replace-me
ENVIRONMENT=local
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=sqlite

CELERY_BROKER_HOST=localhost

MG_HOST=localhost
MG_PORT=7687

LLM_PROVIDER=OPENAI
OPEN_AI_KEY=

OLLAMA_HOST=localhost
OLLAMA_PORT=11434

NPM_BIN_PATH=

DOCUMENT_CHUNKER=recursive
CHUNK_SIZE=200
CHUNK_OVERLAP=20

COREFERENCE_RESOLVER=fastcoref
COREFERENCE_DEVICE=cpu

ENTITY_EXTRACTOR=llm
RELATION_EXTRACTOR=llm

OPENAI_ENTITY_MODEL=gpt-4o-mini
OPENAI_RELATION_MODEL=gpt-4o-mini
OPENAI_QA_MODEL=gpt-4o-mini

OLLAMA_ENTITY_MODEL=llama3.2
OLLAMA_RELATION_MODEL=llama3.2
OLLAMA_QA_MODEL=llama3.2
