DJANGO_SECRET=replace-me
ENVIRONMENT=docker
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=postgres
POSTGRES_DB=knowledge_graph
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

CELERY_BROKER_HOST=redis

MG_HOST=memgraph
MG_PORT=7687
MEMGRAPH_LAB_PORT=7444

LLM_PROVIDER=OPENAI
OPEN_AI_KEY=add_key_here

OLLAMA_HOST=host.docker.internal
OLLAMA_PORT=11434

WEB_CONTAINER_NAME=kg_web
CELERY_CONTAINER_NAME=kg_celery
POSTGRES_CONTAINER_NAME=kg_postgres
REDIS_CONTAINER_NAME=kg_redis
MEMGRAPH_CONTAINER_NAME=kg_memgraph

WEB_PORT=8000
REDIS_PORT=6379

DOCUMENT_CHUNKER=recursive
CHUNK_SIZE=200
CHUNK_OVERLAP=20

COREFERENCE_RESOLVER=fastcoref
COREFERENCE_DEVICE=cpu

ENTITY_EXTRACTOR=llm
RELATION_EXTRACTOR=llm

OPENAI_ENTITY_MODEL=gpt-4o-mini
OPENAI_RELATION_MODEL=gpt-4o-mini
OPENAI_QA_MODEL=gpt-4o-mini

OLLAMA_ENTITY_MODEL=llama3.2
OLLAMA_RELATION_MODEL=llama3.2
OLLAMA_QA_MODEL=llama3.2
